### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
player_count = len(purchase_data['SN'].value_counts())
player_data = {'Total Players':[player_count]}
player_count_df = pd.DataFrame(player_data)
player_count_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
num_uniq_items = len(purchase_data['Item ID'].unique())
avg_price = float(purchase_data['Price'].sum()/purchase_data['Price'].count())
num_of_purchase = purchase_data['Price'].count()
total_rev = purchase_data['Price'].sum()

purch_anal = pd.DataFrame({"Number of Unique Items":[num_uniq_items],
                          'Average Price':[avg_price],'Number of Purchases':[num_of_purchase],
                          'Total Revenue':[total_rev]})
purch_anal['Average Price'] = purch_anal['Average Price'].map("${:,.2f}".format)
purch_anal['Total Revenue'] = purch_anal['Total Revenue'].map("${:,.2f}".format)
purch_anal

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [16]:
gender_df = purchase_data[['SN','Gender']]
gender_df_2 = gender_df.drop_duplicates('SN',keep = 'last')

num_male = len(gender_df_2.loc[gender_df_2['Gender'] == 'Male'])
male_per = (num_male / player_count) * 100

num_female = len(gender_df_2.loc[gender_df_2['Gender'] == 'Female'])
female_per = (num_female / player_count) * 100

num_non = len(gender_df_2.loc[gender_df_2['Gender'] == 'Other / Non-Disclosed'])
non_per = (num_non / player_count) * 100

gender_dict = {'Total Count':[num_male,num_female,num_non],'Percentage of Players':[male_per,female_per,non_per]}
gender_df = pd.DataFrame(gender_dict,index=['Male','Female','Other / Non-Disclosed'])
gender_df['Percentage of Players'] = gender_df['Percentage of Players'].map('{:.2f}%'.format)
gender_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender 


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [29]:
purchase_df = purchase_data[['Gender','Item ID','Price']]
purchase_df

male_purch = len(purchase_df.loc[purchase_df['Gender'] == 'Male'])
female_purch = len(purchase_df.loc[purchase_df['Gender'] == 'Female'])
non_purch = len(purchase_df.loc[purchase_df['Gender'] == 'Other / Non-Disclosed'])

fem_purchase = purchase_df.loc[purchase_df['Gender'] == 'Female']
total_fem_price = fem_purchase['Price'].sum()
avg_fem_price = total_fem_price/female_purch
avg_total_fem = total_fem_price/num_female

male_purchase = purchase_df.loc[purchase_df['Gender'] == 'Male']
total_male_price = male_purchase['Price'].sum()
avg_male_price = total_male_price/male_purch
avg_total_male = total_male_price/num_male

non_purchase = purchase_df.loc[purchase_df['Gender'] == 'Other / Non-Disclosed']
total_non_price = non_purchase['Price'].sum()
avg_non_price = total_non_price/non_purch
avg_total_non = total_non_price/num_non

purchase_dict = {'Purchase Count':[female_purch,male_purch,non_purch],
                'Average Purchase Price':[avg_fem_price,avg_male_price,avg_non_price],
                 'Total Purchase Value':[total_fem_price,total_male_price,total_non_price],
                'Avg Total Purchase per Person':[avg_total_fem,avg_total_male,avg_total_non],
                }
new_purchase_df = pd.DataFrame(purchase_dict, index = ['Female','Male','Other / Non-Disclosed'])
new_purchase_df['Average Purchase Price'] = new_purchase_df['Average Purchase Price'].map('${:.2f}'.format)
new_purchase_df['Total Purchase Value'] = new_purchase_df['Total Purchase Value'].map('${:,.2f}'.format)
new_purchase_df['Avg Total Purchase per Person'] = new_purchase_df['Avg Total Purchase per Person'].map('${:.2f}'.format)
new_purchase_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [61]:
age_df = purchase_data[['SN','Age']]
age_df = age_df.drop_duplicates('SN',keep = 'last')

#max_age = 45
max_age = round(age_df['Age'].max())
#min_age = 7
min_age = round(age_df['Age'].min())
#med_age = 22
med_age = round(age_df['Age'].median())
#first_quart_age = 20
first_quart_age = round(age_df['Age'].quantile(0.25))
#third_quart_age = 25
third_quart_age = round(age_df['Age'].quantile(0.75))

bins = [0,9,14,19,24,29,34,39,46]
bin_labels = ['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']

age_df = age_df.copy()
age_df['New Age'] = pd.cut(age_df['Age'],bins,labels=bin_labels)

num_0_10 = len(age_df.loc[age_df['New Age'] == '<10'])
per_0_10 = (num_0_10/player_count) * 100

num_10_14 = len(age_df.loc[age_df['New Age'] == '10-14'])
per_10_14 = (num_10_14/player_count) * 100

num_15_19 = len(age_df.loc[age_df['New Age'] == '15-19'])
per_15_19 = (num_15_19/player_count) * 100

num_20_24 = len(age_df.loc[age_df['New Age'] == '20-24'])
per_20_24 = (num_20_24/player_count) * 100

num_25_29 = len(age_df.loc[age_df['New Age'] == '25-29'])
per_25_29 = (num_25_29/player_count) * 100

num_30_34 = len(age_df.loc[age_df['New Age'] == '30-34'])
per_30_34 = (num_30_34/player_count) * 100

num_35_39 = len(age_df.loc[age_df['New Age'] == '35-39'])
per_35_39 = (num_35_39/player_count) * 100

num_40_up = len(age_df.loc[age_df['New Age'] == '40+'])
per_40_up = (num_40_up/player_count) * 100

age_dict = {'Total Count':[num_0_10,num_10_14,num_15_19,num_20_24,num_25_29,num_30_34,
                           num_35_39,num_40_up],
           'Percentage of Players':[per_0_10,per_10_14,per_15_19,per_20_24,
                                   per_25_29,per_30_34,per_35_39,per_40_up]}
new_age = pd.DataFrame(age_dict, index = ['<10','10-14','15-19','20-24','25-29',
                                          '30-34','35-39','40+'])
new_age['Percentage of Players'] = new_age['Percentage of Players'].map('{:.2f}%'.format)
new_age

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [72]:
pur_age_df = purchase_data[['Age','Item ID','Price']]
pur_age_df

bins = [0,9,14,19,24,29,34,39,46]
bin_labels = ['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']

pur_age_df = pur_age_df.copy()
pur_age_df['New Age'] = pd.cut(pur_age_df['Age'],bins,labels=bin_labels)

purch_0_10 = len(pur_age_df.loc[pur_age_df['New Age'] == '<10'])
total_0_10 = pur_age_df.loc[pur_age_df['New Age'] == '<10']
total_0_10_price = total_0_10['Price'].sum()
avg_0_10_price = total_0_10_price/purch_0_10
total_avg_0_10 = total_0_10_price/num_0_10

purch_10_14 = len(pur_age_df.loc[pur_age_df['New Age'] == '10-14'])
total_10_14 = pur_age_df.loc[pur_age_df['New Age'] == '10-14']
total_10_14_price = total_10_14['Price'].sum()
avg_10_14_price = total_10_14_price/purch_10_14
total_avg_10_14 = total_10_14_price/num_10_14

purch_15_19 = len(pur_age_df.loc[pur_age_df['New Age'] == '15-19'])
total_15_19 = pur_age_df.loc[pur_age_df['New Age'] == '15-19']
total_15_19_price = total_15_19['Price'].sum()
avg_15_19_price = total_15_19_price/purch_15_19
total_avg_15_19 = total_15_19_price/num_15_19

purch_20_24 = len(pur_age_df.loc[pur_age_df['New Age'] == '20-24'])
total_20_24 = pur_age_df.loc[pur_age_df['New Age'] == '20-24']
total_20_24_price = total_20_24['Price'].sum()
avg_20_24_price = total_20_24_price/purch_20_24
total_avg_20_24 = total_20_24_price/num_20_24

purch_25_29 = len(pur_age_df.loc[pur_age_df['New Age'] == '25-29'])
total_25_29 = pur_age_df.loc[pur_age_df['New Age'] == '25-29']
total_25_29_price = total_25_29['Price'].sum()
avg_25_29_price = total_25_29_price/purch_25_29
total_avg_25_29 = total_25_29_price/num_25_29

purch_30_34 = len(pur_age_df.loc[pur_age_df['New Age'] == '30-34'])
total_30_34 = pur_age_df.loc[pur_age_df['New Age'] == '30-34']
total_30_34_price = total_30_34['Price'].sum()
avg_30_34_price = total_30_34_price/purch_30_34
total_avg_30_34 = total_30_34_price/num_30_34

purch_35_39 = len(pur_age_df.loc[pur_age_df['New Age'] == '35-19'])
total_35_39 = pur_age_df.loc[pur_age_df['New Age'] == '35-19']
total_35_39_price = total_35_39['Price'].sum()
avg_35_39_price = total_35_39_price/purch_35_39
total_avg_35_39 = total_35_39_price/num_35_39

purch_40_up = len(pur_age_df.loc[pur_age_df['New Age'] == '40+'])
total_40_up = pur_age_df.loc[pur_age_df['New Age'] == '40+']
total_40_up_price = total_40_up['Price'].sum()
avg_40_up_price = total_40_up_price/purch_40_up
total_avg_40_up = total_40_up_price/num_40_up

purch_age_dict = {'Purchase Count':[purch_0_10,purch_10_14,purch_15_19,
                                   purch_20_24,purch_25_29,purch_30_34,
                                   purch_35_39,purch_40_up], 
                  'Average Purchase Price':[avg_0_10_price,avg_10_14_price,
                                            avg_15_19_price,avg_20_24_price,
                                            avg_25_29_price,avg_30_34_price,
                                            avg_35_39_price,avg_40_up_price],
                 'Total Purchase Value':[total_0_10_price,total_10_14_price,
                                        total_15_19_price,total_20_24_price,
                                        total_25_29_price,total_30_34_price,
                                        total_35_39_price,total_40_up_price],
                 'Avg Total Purchase per Person':[total_avg_0_10,total_avg_10_14,
                                                 total_avg_15_19,total_avg_20_24,
                                                 total_avg_25_29,total_avg_30_34,
                                                 total_avg_35_39,total_avg_40_up]}
new_age_purch = pd.DataFrame(purch_age_dict, index=['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+'])
new_age_purch['Average Purchase Price'] = new_age_purch['Average Purchase Price'].map('${:.2f}'.format)
new_age_purch['Total Purchase Value'] = new_age_purch['Total Purchase Value'].map('${:,.2f}'.format)
new_age_purch['Avg Total Purchase per Person'] = new_age_purch['Avg Total Purchase per Person'].map('${:.2f}'.format)
new_age_purch

<ipython-input-72-60f0b5bd8d73>:49: RuntimeWarning: invalid value encountered in double_scalars
  avg_35_39_price = total_35_39_price/purch_35_39

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,0,$nan,$0.00,$0.00
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame